body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
  background-color: #f4f4f9;
}

h1 {
  color: #333;
  font-size: 24px;
}

label {
  display: block;
  margin: 20px 0 10px;
  font-size: 18px;
}

select {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
}

#campus-name {
  margin-top: 30px;
  color: #0056b3;
  font-size: 22px;
  font-weight: bold;
}

#rep-info {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: inline-block;
  text-align: left;
  border-radius: 5px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
